// Specific CSS for your home-page

.pkmn_min {
  margin-left: 10px;
  margin-right: 10px;
  top:-50px;
  left:-35px;
  z-index:999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  }

  /*change the number below to scale to the appropriate size*/
  .pkmn_min:hover {
  transform: scale(2);

  }


  a:link
{
 text-decoration:none;
} 
